<!DOCTYPE html>
<link rel="stylesheet" href="\css\homepage.css">
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">
</head>
<body>

<div class="pigPictureText">
    <h2 class="pigPictureText">Pigmania</h2>
</div>

<div class="pigPictureTitle">
    <a href="/Play/Play"><img class="pigPicture" src="Img/Pigmania logo green background.png" alt="Pigmania logo"></a>
</div>
<section class="combinedClass">

    <div class="truffleClass">
        <h2 class="truffleText">Truffle Clicker</h2>
        <a href="/Clicker/Add">
            <img src="Img/Truffle.png" alt="truffle image" class="truffleImage">
        </a>
    </div>

    <div class="leaderboardClass">
        <h2 class="leaderboardText">Leaderboard</h2>
        <a href="/home/leaderboard">
            <img src="Img/leaderboard.png" alt="leaderboard image" class="leaderboardImage">
        </a>
    </div>
    
</section>
</body>
</html>